<div class="row">
    <div class="col">
        <h3>TODOS NUESTROS CURSOS DISPONIBLES</h3>
    </div>
</div>
<div class="row py-5 text-center">
    <div class="col offset-2">
        <div class="card" style="width: 18rem;">
            <img src="https://th.bing.com/th/id/OIP.qMF5wJy9-jF6u1y-CHEXMgHaH4?w=164&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">Curso sobre Angular.JS donde aprenderas lo basico para poder usar esta herramienta fantastica.</p>
              <a href="#" class="btn btn-outline-warning">comprar por $5</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://th.bing.com/th/id/OIP.p3i6B5uJZnX-m9oyT3VtswHaE6?w=234&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Visual Studio</h5>
              <p class="card-text">Curso sobre Visual Studio Code donde aprenderas lo basico para poder usar esta herramienta muy usada actualmente.</p>
              <a href="#" class="btn btn-outline-warning">comprar por $2</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://th.bing.com/th/id/OIP.hKV8bpJBVwinKC1H0AtGjwHaKW?w=116&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Node.js</h5>
              <p class="card-text">Curso sobre Node.js donde aprenderas lo basico, Te permitira crear tu base de datos para tu pagina Ecomerce.</p>
              <a href="#" class="btn btn-outline-warning">comprar por $3</a>
            </div>
          </div>
    </div>
    <div class="col-2"></div>
</div>
