<div class="row">
    <div class="col px-5 py-2">
        <h2>Framework Angular</h2>
    </div>
</div>
<div class="row">
    <div class="col-4 px-5">
        <p>Angular es una plataforma y un framework 
           para crear aplicaciones de una sola pagina en
           el lado del cliente usando HTML y TypeScript.
           Angular esta escrito en TypeScript.
           Implementa la funcionalidad basica y opcional
           como un conjunto de bibliotecas TypeScript.
           que importas en tus aplicaciones
        </p>
    </div>
    <div class="col">
        <img src="https://th.bing.com/th/id/OIP.qMF5wJy9-jF6u1y-CHEXMgHaH4?w=164&h=180&c=7&r=0&o=5&pid=1.7"alt="">
    </div>
</div>
<div class="card">
    <div class="card-footer">
      <h6>Contacta con nuestros Servicios</h6>
      <a routerLink="/services" class="btn btn-outline-info">ir a servicios</a>
    </div>
    <div class="card-body">
      <h6 class="card-title">Conecta con nosotros</h6>
      <p class="card-text">tenemos atenciòn las 24 horas del dia</p>
      <a routerLink="/contact" class="btn btn-outline-info">ir a contactos</a>
    </div>
</div>
