<div id="body" class="row py-5 text-center">
    <div class="col">
        <h3>ATENDEMOS LAS 24 HORAS DEL DIA</h3>
        <label for="floatingTextarea2">Mandenos un mensaje con vuestra consulta:</label>
        <div class="form-floating py-2">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Nota:</label>
          </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com">
            <label for="floatingInputValue">Email:</label>
        </div>
        <div class="form-floating py-2">
            <label for="floatingSelect">Selecciona tu Paìs:</label>
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option value="1">Perù</option>
              <option value="2">Chile</option>
              <option value="3">Argentina</option>
            </select>
        </div><br>
          <button type="button" class="btn btn-outline-info">Enviar</button>
    </div>
</div>
