.form-floating{
    padding: 0 30%;
}
label{
    padding: 4px 31% !important;
}
#body{
background: #FFFFFF;
background: -webkit-linear-gradient(bottom, #FFFFFF, #E5FFF1);
background: -moz-linear-gradient(bottom, #FFFFFF, #E5FFF1);
background: linear-gradient(to top, #FFFFFF, #E5FFF1);
}